body {
    overflow: hidden;
    background: url(372.jpg);
    background-size: 100% 100%;
    width: 100vw;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.square {
    width: 100px;
    height: 100px;

    background: transparent;
    position: absolute;
    background-size: contain;
    border: 1px solid #000;
    transition: linear .5s;
    box-sizing: border-box;
}

.chel {
    width: 100px;
    height: 100px;
    background: url(images.png);
    position: absolute;
    border-radius: 50%;
    background-size: contain;
    transition: linear;
    transition: linear .2s;
}

h1,
p,
.wasted {
    margin: 0;
    margin-top: 5vw;
}

h1 {
    color: #fff;
    text-align: center;
    text-shadow:
        0 0 2px #eee,
        0 0 4px #fff,
        0 -2px 4px #ff3,
        2px -4px 6px #fd3,
        -2px -6px 11px #f80,
        2px -8px 18px #f20;
    font-size: 60px;
}

p {
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: red;
    font-size: 100px;
    padding: 20px;
    font-weight: 900;
    -webkit-text-stroke: 5px black;
}

.hello-text {
    width: 100%;
    padding: 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    color: #fff;
    -webkit-text-stroke: 1px black;
}

.chose-text {
    width: 100%;
    text-align: center;
  font-size: 4em;
  color: #fff;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur .75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

.chose {
    width: 60vw;
    display: none;
    padding: 50px;
    background: rgba(0, 0, 0, 0.5);
    flex-direction: column;
}

.chose-img {
    width: 30%;
}
.chose-img:hover{
    cursor: pointer;
}

.chose-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

@media (max-width: 500px) {
    .chel {
        width: 30px;
        height: 30px;
    }

    .square {
        width: 30px;
        height: 30px;
    }


}


@keyframes blur {
    from {
      text-shadow:0px 0px 10px #f00, 
        0px 0px 10px #f00, 
        0px 0px 25px #f00, 
        0px 0px 25px #f00, 
        0px 0px 25px #f00, 
        0px 0px 25px #f00, 
        0px 0px 25px #f00, 
        0px 0px 25px #f00, 
        0px 0px 50px #f00, 
        0px 0px 50px #f00, 
        0px 0px 50px #fff,
        0px 0px 150px #fff,
        0px 10px 100px #fff,
        0px 10px 100px #fff,
        0px 10px 100px #fff,
        0px 10px 100px #fff,
        0px -10px 100px #fff,
        0px -10px 100px #fff;
    }
  }
  